/* Atomic classes */
.f-s-caret {
    font-size: 0.8em;
}

/* General Styles */
.menu {
    margin-left: 20px;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #d4d9e3;
    min-height: 120px;
    font-size: 1.3em;
    text-align: center;
    /*flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;

    display: flex;
}

nav li {
    flex: 1 1 0;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    display: block;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #0e1a35;
}

nav a:hover {
    color: #8492af;
}

/* Hamburger menu */
.menu {
    min-width: 45px;
}

.menu .caret {
    margin-right: 8px;
    position: relative;
    top: -1px;
}

.caret-blue {
    color: #5384ff;
}

/* Search menu */
.search-label {
    font-family: FontAwesome;
    color: #0e1a35;
    font-size: 1em;
}
#search {
    width: 0;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    margin-top: 10px;
    padding: 10px;
    margin-top: -2px;
    margin-left: 5px;
}

#search:focus {
    width: 60%;
    border-bottom: 1px solid #8492af;
    border-radius: 5px;
}
/*** Right Aligned Menu ***/

/* General */
nav ul.navbar-right li {
    text-align: center;
    display: block;
    max-width: 70px;
    min-width: 70px;
}

/* Add-Project button */
.add-project {
    background-color: #5384ff;
    border: #5384ff 1px solid;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff !important;
    font-weight: bold;
    width: 80px;
    font-size: 12px;
    margin: 0 auto;
}

.add-project:hover {
    background-color: #fff;
    color: #5384ff !important;
}

.add-project span {
    color: #aac2ff;
}

/* Notification icon and badge */

.badge {
   position:relative;
}
.badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.5em;
   background:#5384ff;
   color:white;
   width:16px;
   height:16px;
   text-align:center;
   line-height:16px;
   border-radius:50%;
   border: 1px solid #fff;
}

/* User image and icon */
.user {
    max-height: 55px;
}

.user img {
    width: 100%;
}

.user i {
    right: -34px;
    position: relative;
    top: -45px;
}

/* Flex Styles */
nav ul.navbar-right {
    flex: 1 1 0;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 540px){
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        margin: 0;
    }

    nav ul.navbar-right {
        justify-content: center;
    }

    nav ul.navbar-right li {
        max-width: 70px;        
    }
}