.message--list-text{
    display: flex;
    flex-wrap: wrap;
    margin: 0 27px 0;
}

.message--list-name {
    margin: 0;
}

.message--list-time {
    color: #8492af;
    margin-left: 8px;
}

.message--list-content{
    margin: 0;
}

.icon-container {
    margin: 10px 10px 0 0;
    width: 50%;
}