h1 {
    margin: 10px;
}

.wrapper {
    width: 100%;
    transition: 0.5s linear;
    margin: 0;
    padding: 0;
}

.in {
    width: 80%;
    transform: translateX(250px);
    transition: 0.5s linear;
}

@media screen and (max-width:768px){
    .in {
        width: 100%;
        transform: none;
    }
}