h1 {
    margin: 1%;
}

.wrapper {
    width: 100%;
    transition: 0.5s linear;
    margin: 0;
    padding: 0;
}

.in {
    transform: translateX(25%);
    width: 80%;
    opacity: 0.6;
    transition: 0.5s linear;
}

/* laptops */
@media screen and (max-width:1200px){
    .in {
        transform: translateX(44%);
        width: 69%;
        transition: 0.5s linear;
    }
}

/* tablets */
@media screen and (max-width:768px){
    .in {
        width: 100%;
        transform: none;
    }

    h1 {
        margin: 20px;
    }
}