.flex {
    display: flex;
    flex-wrap: wrap;
}

.component {
    margin: 10px 10px;
    flex: 1 1 0;
}

app-sales {
    margin: 10px 10px;
    flex: 1 1 0;
}

app-report {
    margin: 10px 10px;
    flex: 1.5 1 0;
}