<div class="main">
    <ul class="float top-container">
        <li class="sales"><app-sales></app-sales></li>
        <li class="report"><app-report></app-report></li>
    </ul>
    <div class="float">
        <app-card [title]="tasksTitle" [badge1]="tasksBadge1" [badge2]="tasksBadge2" class="component">
            <app-tasks></app-tasks>
        </app-card>
        <app-card [title]="messagesTitle" [badge1]="messagesBadge1" [badge2]="messagesBadge2" class="component">
            <app-messages></app-messages>
        </app-card>
        <app-card [title]="activityTitle" [badge1]="activityBadge1" [badge2]="activityBadge2" class="component">
            <app-activity></app-activity>
        </app-card>
    </div>
</div>