@import url('https://fonts.googleapis.com/css?family=Roboto');

.message--list{
    margin: 0;
    padding: 0;

}

.message--list-item {
    list-style-type: none;
    border-top: 1px solid #d4d9e3;
    padding: 28px 33px;
    display: flex;
}

.message--list-avatar {
    height: 100%;
}

.message-read {
    background-color: #f4f5f8;
}